/*---------
Reset
---------*/

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;


}


body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}


/*---------
HEADER
---------*/


header{
    background-color: white;
    padding: 10px 20px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}

.container{
    background-color:#ffff ;
    max-width: 800px;
    margin: auto;
    padding-left: 50px; 
}
button {
    text-align: center;
    width: 150p;
    border-radius: 10px;
}

.task{
    background: #45ABEA;

}

hr{
    color: lightgray;
    color: lightgray;
    margin-top: 1%;
    border: 1;
}

span{
    display: inline-block;
    vertical-align: top;
    
}

.freccia{
    margin-top: 10px;
}

.circle-check{
    margin-top: 10px;
}