/*---------
Reset
---------*/

*{
    box-sizing: border-box;
    margin:0;
    padding: 0;


}


body{
    background-color: #F6F8F9;
    font-family: 'Roboto', sans-serif;
}


/*---------
HEADER
---------*/


header{
    background-color: white;
    padding: 10px 20 px;
}

h1{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    vertical-align: middle;
}

main{
    margin-top: 40px;
}
.container{

    backgroung:lightgray;
    max-width: 800px;
    margin: auto;
}

task{
    background-color: #45ABEA;
}

.button{
    display: inline-block;
    padding: 8px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 8px; 
    border-style: none;
}

.task{
    background-color:#45ABEA;
    color: white;
    margin-left: 5%;
    border: 0.5px solid #2596ff;
}

.add-section{
    background-color: white;
    color: lightgrey;
    border: 0.5px solid lightgrey;
}

